@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@1,900&family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* navbar styles */
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: #f5efef;
    font-family: 'Quintessential', cursive;
}
.navbar.max.width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
.navbar .logo a{
    color: cyan;
    font-size: 35px;
    font-weight: 600;
    font-family: font-family: 'Quintessential', cursive;;
    
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: rgb(68, 66, 66);
    font-size: 15px;
    font-weight: 500;
    margin-left: 25px;
}
.menu {
    position: relative;
    left: 265px;
    top: -29px;
}

/* end hogaya navbar */

/* home section */
.container{
    height: 700px;
    width: 100%;
    display: flex;
    background-image:url(https://lh3.googleusercontent.com/pw/AM-JKLUiYk8RFaRET4Ucfl_kD59G4DlsDrEtbKp6wj2fcUPVqpUMfxxGfNkernpx6i4b5k6Rhpb1nnZmOHWbPKzU8vQvqjiSz9cmjJsrJbk3bNUo5h7DEJvh02iwdc6avzMtKgVQTZIM1C7T3BoZDZG1EziE=w1920-h1080-no?authuser=0)
}
.container .h1{
    

    text-align: center;
    font-size: 72px;
    color: #fbf7f7;
    position: absolute;
    top: 340px;
    left: 25px;
}
/* end  */

/* About Section Styling */
section{
    padding-top:40px;
  }
  section .content{
    width:80%;
    margin:40px auto;
    font-family: 'Poppins', sans-serif;
  }
  section .title{
    display:flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  section .title span{
    color:var(--black-color);
    font-size: 30px;
    font-weight: 600;
    position:relative;
    padding-bottom:8px;
  }
  section .title span::before,
  section .title span::after{
    content:'';
    position:absolute;
    height:3px;
    width:100%;
    background:var(--primary-color);
    left:0;
    bottom:0;
  }
  section .title span::after{
    bottom:-7px;
    width:70%;
    left:50%;
    transform:translateX(-50%);
  }
  .about .about-details{
    display:flex;
    justify-content:space-between;
    align-items: center;
  }
  .about .about-details .left{
    width:45%;
  }
  .about .left img{
    height:400px;
    width:400px;
    object-fit: cover;
    border-radius: 12px;
  }
  .about .about-details .right{
    width:55%;
  }
  section .topic{
    color:var(--black-color);
    font-size:25px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .about-details .right p{
    text-align: justify;
    color:var(--black-color);
  }
  section .button{
    margin:16px 0;
  }
  section .button button{
    outline:none;
    padding:8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: var(--primary-color);
    color:var(--white-color);
    border:2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  section .button button:hover{
    border-color:var(--primary-color);
    background-color: var(--white-color);
    color:var(--primary-color);
  }
 


